body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-main {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input-group .input-control {
  padding: 10px 15px;
  display: flex;
  flex: 1 100%;
  margin-right: 10px;
  border-radius: 16px;
  outline: none;
  border: 2px solid #ffffff;
  color: black;
  background-color: #ffffff;
}

.input-group .input-control:hover,
.input-group .input-control:focus,
.input-group .input-control:active {
  border: 2px solid #003aff;
}

.input-group .btn-add {
  border-radius: 16px;
  background-color: #1d3557;
}

.input-group .btn-add.disabled {
  background-color: #415f89;
  cursor: not-allowed;
}

.tab-menu {
  padding: 10px 0;
  margin-top: 15px;
}

.tab-menu .btn-tab {
  margin-right: 15px;
  border-radius: 16px;
  background-color: #415f89;
}

.tab-menu .btn-tab.active {
  background-color: #1d3557;
}

.card {
  padding: 10px 0;
}

.header-title {
  color: black;
  margin-top: 0;
  margin-bottom: 15px;
}

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 16px;
  background-color: #f1faee;
}

.todo-item .todo-icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
  padding: 6px;
  cursor: pointer;
}

.todo-item .todo-icon:hover,
.todo-item .todo-icon:focus,
.todo-item .todo-icon:active {
  background-color: rgb(236, 236, 236);
  border-radius: 16px;
}

.todo-item-content {
  display: flex;
  flex: 1 100%;
  flex-direction: row;
  align-items: center;
}

.todo-item-action {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-item-action .todo-icon {
  margin-right: 0;
  padding: 6px;
  border-radius: 16px;
  margin-left: 5px;
  cursor: pointer;
}

.todo-item .todo-icon:hover,
.todo-item .todo-icon:focus,
.todo-item .todo-icon:active,
.todo-item-action .todo-icon:hover,
.todo-item-action .todo-icon:focus,
.todo-item-action .todo-icon:active {
  background-color: rgb(236, 236, 236);
  border-radius: 16px;
}

.todo-item-title {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 0;
}

.todo-body {
  display: flex;
  flex-direction: column;
  flex: 2 100%;
}

.editing.input-control {
  padding: 10px 15px;
  display: flex;
  flex: 1 100%;
  margin-right: 10px;
  border-radius: 16px;
  outline: none;
  border: 2px solid rgb(236, 236, 236);
  color: black;
  background-color: #ffffff;
}
